

<p>Test twig template!</p>
 
<p>test_var: {{ test_var }}</p>

<table>
	<tr>
		<td>Sr.No</td>
		<td>Name</td>
		<td>Address</td>
	</tr>
	<tr>
		<td>1</td>
		<td>Ayesha</td>
		<td>Pune</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Rahul</td>
		<td>Mumbai</td>
	</tr>
</table>

<button onclick="myFunction()">OK</button>
<p id="demo"></p>